html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body, h1, h2, h3, p {
  margin: 0;
}

a, a:hover {
  text-decoration: none;
}

input[type=text], input[type=number] {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.maxWidth {
  position: relative;
  max-width: 992px;
  width: 100%;
  margin: auto;
}
@media all and (max-width: 992px) {
  .maxWidth {
    max-width: 768px;
  }
}
@media all and (max-width: 768px) {
  .maxWidth {
    max-width: 576px;
  }
}
@media all and (max-width: 576px) {
  .maxWidth {
    max-width: 300px;
  }
}

.loginPage__login__title, .character h1 {
  letter-spacing: .1em;
  font-size: 2em;
  color: #333;
}
@media all and (max-width: 768px) {
  .loginPage__login__title, .character h1 {
    font-size: 1.5em;
  }
}

.character .character__choiceCard {
  background: #098ee0;
  background: -moz-linear-gradient(-45deg, #098ee0 0%, #6be0b5 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #098ee0), color-stop(100%, #6be0b5));
  background: -webkit-linear-gradient(-45deg, #098ee0 0%, #6be0b5 100%);
  background: -o-linear-gradient(-45deg, #098ee0 0%, #6be0b5 100%);
  background: -ms-linear-gradient(-45deg, #098ee0 0%, #6be0b5 100%);
  background: linear-gradient(135deg, #098ee0 0%, #6be0b5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#098ee0', endColorstr='#6be0b5', GradientType=1 );
}

.loginPage {
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  font-size: 16px;
}
.loginPage__banner {
  position: relative;
  background: url(../images/login-bg.jpg) center center/cover;
  min-height: 100vh;
  flex-basis: 50%;
}
@media all and (max-width: 768px) {
  .loginPage__banner {
    display: none;
  }
}
.loginPage__banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #135282;
  opacity: .2;
}
.loginPage__login__func > div {
  margin-top: 20px;
}
.loginPage__login__background {
  background: #f1f2f3;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
}
@media all and (max-width: 768px) {
  .loginPage__login__background {
    background: url(../images/login-bg.jpg) center center/cover;
    flex-basis: 100%;
    position: relative;
  }
  .loginPage__login__background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .2;
  }
}
.loginPage__login__titleBox {
  flex-basis: 80%;
  background: #d4d4d4;
  padding: 50px 0;
  border-radius: 5px;
  min-height: 270px;
  z-index: 1;
}
@media all and (max-width: 768px) {
  .loginPage__login__titleBox {
    flex-basis: 90%;
  }
}
.loginPage p {
  padding: 5px 0 10px;
  font-size: .8em;
  color: #555;
}
.loginPage__function {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 20px auto;
}
.loginPage__function__buyer {
  background: #267abd;
  color: #f1f2f3;
}
.loginPage__function__seller {
  background: #135282;
  color: #f1f2f3;
}
.loginPage__function i {
  margin-right: 10px;
  font-size: 1.25em;
}
.loginPage__user {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginPage__user__photo {
  border-radius: 50%;
  width: 35px;
  margin-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}
.loginPage__user__name {
  color: #267abd;
}

.loginButton {
  color: #666;
}

.buttonSmall {
  padding: 2px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.buttonBig {
  padding: 1em;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.buttonBig + .buttonBig {
  margin-top: 10px;
}

.buttonLogout {
  background: #eee;
  color: #666;
}
.buttonLogout:hover {
  background: #d4d4d4;
}

.character .character__choiceCard {
  background: #098ee0;
  background: -moz-linear-gradient(-45deg, #098ee0 0%, #6be0b5 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #098ee0), color-stop(100%, #6be0b5));
  background: -webkit-linear-gradient(-45deg, #098ee0 0%, #6be0b5 100%);
  background: -o-linear-gradient(-45deg, #098ee0 0%, #6be0b5 100%);
  background: -ms-linear-gradient(-45deg, #098ee0 0%, #6be0b5 100%);
  background: linear-gradient(135deg, #098ee0 0%, #6be0b5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#098ee0', endColorstr='#6be0b5', GradientType=1 );
}

.headerNav {
  line-height: 2;
  max-width: 992px;
  margin: 0 auto 30px;
  padding-top: 30px;
  border-bottom: 1px solid #eee;
}
.headerNav::after {
  content: '';
  clear: both;
  display: table;
}
.headerNav h1 {
  float: left;
  margin-right: 50px;
  line-height: 1.8;
}
.headerNav i {
  margin-right: 10px;
}
.headerNav a {
  color: #267abd;
}
.headerNav a:hover {
  color: #135282;
}
.headerNav ul, .headerNav li {
  list-style: none;
  margin: 0;
  padding-left: 0;
  line-height: 1.5;
}
.headerNav__real {
  display: flex;
  align-items: center;
}
.headerNav__real::after {
  content: '';
  clear: both;
  display: table;
}
.headerNav__real > li {
  float: left;
  padding: 10px 15px;
  min-width: 80px;
  cursor: pointer;
  padding-bottom: 15px;
}
.headerNav__real > li:hover > a {
  color: #135282;
}
.headerNav .nav__userState {
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 100%;
  cursor: default;
}
.headerNav .nav__dropdown {
  position: relative;
}
.headerNav .nav__dropdown:hover .nav__dropdown__item {
  display: block;
}
.headerNav .nav__dropdown:hover > a {
  color: #135282;
}
.headerNav .nav__dropdown__item {
  display: none;
  position: absolute;
  top: 100%;
  background: #f3f3f3;
  border-radius: 0 0 5px 5px;
  border: 1px solid #d4d4d4;
  padding: 10px;
  min-width: 200px;
  left: 5px;
  z-index: 10;
}
.headerNav .nav__dropdown__item a {
  color: #666;
  line-height: 2;
}
.headerNav .nav__dropdown__item a:hover {
  color: #267abd;
}
.headerNav .nav__dropdown__item .primaryFunction {
  border-bottom: 1px solid #d4d4d4;
  padding: 0px 0 5px;
  margin-bottom: 5px;
}
.headerNav .nav__dropdown__item .primaryFunction a {
  color: #267abd;
}
.headerNav .nav__dropdown__item .primaryFunction a:hover {
  color: #135282;
}
.headerNav .nav__dropdown::after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #d4d4d4;
}
.headerNav .loginPage__login__func > div {
  margin-top: 0;
  margin-right: 10px;
}

.character .character__choiceCard {
  background: #098ee0;
  background: -moz-linear-gradient(-45deg, #098ee0 0%, #6be0b5 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #098ee0), color-stop(100%, #6be0b5));
  background: -webkit-linear-gradient(-45deg, #098ee0 0%, #6be0b5 100%);
  background: -o-linear-gradient(-45deg, #098ee0 0%, #6be0b5 100%);
  background: -ms-linear-gradient(-45deg, #098ee0 0%, #6be0b5 100%);
  background: linear-gradient(135deg, #098ee0 0%, #6be0b5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#098ee0', endColorstr='#6be0b5', GradientType=1 );
}

.character {
  min-height: 100vh;
  text-align: center;
  position: relative;
}
.character::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .2;
}
.character > div {
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  min-height: 100vh;
  padding: 10% 0;
  z-index: 1;
}
.character h2 {
  line-height: 1.8;
}
.character .character__choice {
  max-width: 500px;
  margin: auto;
}
.character .character__choiceBox {
  padding-top: 50px;
}
.character .character__choiceCard {
  display: block;
  margin: auto;
  color: #f1f2f3;
  padding: 80px 50px 100px;
  border-radius: 5px;
  text-shadow: 0px 0px 5px #333;
  box-shadow: 0px 3px 15px #ccc;
}
.character .character__choiceCard:hover {
  opacity: .9;
}
.character .character__choiceCard p {
  font-size: .7em;
}

.lightBox__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.lightBox h3 {
  margin-bottom: 15px;
  text-align: left;
}
.lightBox label {
  color: #666;
  font-size: .8em;
  min-width: 75px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}
.lightBox__layer {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.lightBox__message {
  text-align: center;
  padding: 2em 0;
  font-weight: 700;
  color: #d31010;
  font-size: 1.2em;
}
.lightBox__container {
  max-width: 992px;
  width: 75%;
  min-width: 500px;
  min-height: 300px;
  background: white;
  position: absolute;
  z-index: 11;
  border-radius: 5px;
  padding: 40px 50px;
  text-align: right;
}
.lightBox__breakBox {
  line-height: 2;
  margin-bottom: 14px;
  text-align: left;
}
.lightBox__close {
  position: absolute;
  right: -3%;
  top: -7%;
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.45);
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.lightBox__close:hover {
  background: rgba(0, 0, 0, 0.5);
}

.form::after {
  content: '';
  clear: both;
  display: table;
}

header {
  position: relative;
  z-index: 1;
}

.content {
  position: relative;
  max-width: 992px;
  margin: auto;
}

.addButton {
  position: fixed;
  right: 6%;
  bottom: 7%;
  border: 0;
  width: 70px;
  height: 70px;
  background: #267abd;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2em;
  outline: 0;
  z-index: 10;
}
.addButton:hover {
  background: #135282;
}

.contentHeader {
  position: relative;
  color: #333;
}
.contentHeader h2 {
  font-size: 1.2em;
  margin-bottom: 20px;
}
.contentHeader__amountBox {
  position: absolute;
  right: 0;
  top: 0;
  letter-spacing: .1em;
}
.contentHeader__amount {
  font-weight: 700;
}

.contentBody {
  margin-bottom: 50px;
}
.contentBody__product {
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  line-height: 1.8;
  position: relative;
}
.contentBody__product::after {
  content: '';
  clear: both;
  display: table;
}
.contentBody__product__photo {
  float: left;
  margin-right: 10px;
  max-width: 150px;
}
.contentBody__product__name {
  font-weight: 700;
  font-size: 1.2em;
  color: #333;
}
.contentBody__product__spec {
  background: #eee;
  border-left: 5px solid #d4d4d4;
  display: inline-block;
  width: calc(100% - 160px);
  padding: 10px;
  margin-top: 10px;
  border-radius: 0 3px 3px 0;
}
.contentBody__product__spec__title {
  font-size: .9em;
  color: #666;
}
.contentBody__product__price {
  font-weight: 700;
  color: #267abd;
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 1.5em;
}
.contentBody__product span + span {
  margin-left: 10px;
}
.contentBody__product + .contentBody__product {
  margin-top: 15px;
}

.addProduct__photo {
  display: none;
}
.addProduct__photoFake {
  float: left;
  margin-right: 20px;
}
.addProduct__photoPreview {
  max-width: 150px;
}
.addProduct__name {
  width: 360px;
}
.addProduct__spec {
  width: 480px;
}
.addProduct__amount {
  width: 75px;
}
.addProduct__cost {
  width: 75px;
}
.addProduct__price {
  width: 100px;
}
.addProduct__submit {
  padding: 15px 45px;
  border: 0;
  background: #267abd;
  color: #fff;
  border-radius: 30px;
  margin-top: 30px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1em;
}
.addProduct__submit:hover {
  background: #135282;
}
