html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body, h1, h2, h3, p {
  margin: 0;
}

a, a:hover {
  text-decoration: none;
}

.loginPage .loginPage__login__title, .character h1 {
  letter-spacing: .1em;
  font-size: 2em;
  color: #333;
}
@media all and (max-width: 768px) {
  .loginPage .loginPage__login__title, .character h1 {
    font-size: 1.5em;
  }
}

.loginPage {
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  font-size: 16px;
}
.loginPage .loginPage__banner {
  position: relative;
  background: url(../images/login-bg.jpg) center center/cover;
  min-height: 100vh;
  flex-basis: 50%;
}
@media all and (max-width: 768px) {
  .loginPage .loginPage__banner {
    display: none;
  }
}
.loginPage .loginPage__banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .2;
}
.loginPage .loginPage__login__background {
  background: #f1f2f3;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
}
@media all and (max-width: 768px) {
  .loginPage .loginPage__login__background {
    background: url(../images/login-bg.jpg) center center/cover;
    flex-basis: 100%;
    position: relative;
  }
  .loginPage .loginPage__login__background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .2;
  }
}
.loginPage .loginPage__login__titleBox {
  flex-basis: 80%;
  background: #d4d4d4;
  padding: 50px 0 80px;
  border-radius: 5px;
  min-height: 270px;
  z-index: 1;
}
@media all and (max-width: 768px) {
  .loginPage .loginPage__login__titleBox {
    flex-basis: 90%;
  }
}
.loginPage p {
  padding: 5px 0 20px;
  font-size: .8em;
  color: #555;
}

.character .character__choiceCard {
  background: #098ee0;
  background: -moz-linear-gradient(-45deg, #098ee0 0%, #6be0b5 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #098ee0), color-stop(100%, #6be0b5));
  background: -webkit-linear-gradient(-45deg, #098ee0 0%, #6be0b5 100%);
  background: -o-linear-gradient(-45deg, #098ee0 0%, #6be0b5 100%);
  background: -ms-linear-gradient(-45deg, #098ee0 0%, #6be0b5 100%);
  background: linear-gradient(135deg, #098ee0 0%, #6be0b5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#098ee0', endColorstr='#6be0b5', GradientType=1 );
}

.headerNav {
  line-height: 2;
  max-width: 992px;
  margin: auto;
  padding-top: 30px;
  border-bottom: 1px solid #eee;
}
.headerNav::after {
  content: '';
  clear: both;
  display: table;
}
.headerNav h1 {
  float: left;
  margin-right: 50px;
  line-height: 1.8;
}
.headerNav i {
  margin-right: 10px;
}
.headerNav a {
  color: #F25757;
}
.headerNav a:hover {
  color: #d31010;
}
.headerNav ul, .headerNav li {
  list-style: none;
  margin: 0;
  padding-left: 0;
  line-height: 1.5;
}
.headerNav__real::after {
  content: '';
  clear: both;
  display: table;
}
.headerNav__real > li {
  float: left;
  padding: 10px 15px;
  min-width: 80px;
  cursor: pointer;
  padding-bottom: 15px;
}
.headerNav__real > li:hover > a {
  color: #d31010;
}
.headerNav .nav__dropdown {
  position: relative;
}
.headerNav .nav__dropdown:hover .nav__dropdown__item {
  display: block;
}
.headerNav .nav__dropdown:hover > a {
  color: #d31010;
}
.headerNav .nav__dropdown__item {
  display: none;
  position: absolute;
  top: 100%;
  background: rgba(212, 212, 212, 0.5);
  border-radius: 0 0 5px 5px;
  border: 1px solid #d4d4d4;
  padding: 10px;
  min-width: 200px;
  left: 5px;
}
.headerNav .nav__dropdown__item a {
  color: #666;
  line-height: 2;
}
.headerNav .nav__dropdown__item a:hover {
  color: #d31010;
}
.headerNav .nav__dropdown__item .primaryFunction {
  border-bottom: 1px solid #d4d4d4;
  padding: 0px 0 5px;
  margin-bottom: 5px;
}
.headerNav .nav__dropdown__item .primaryFunction a {
  color: #F25757;
}
.headerNav .nav__dropdown__item .primaryFunction a:hover {
  color: #d31010;
}
.headerNav .nav__dropdown::after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #d4d4d4;
}

.character .character__choiceCard {
  background: #098ee0;
  background: -moz-linear-gradient(-45deg, #098ee0 0%, #6be0b5 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #098ee0), color-stop(100%, #6be0b5));
  background: -webkit-linear-gradient(-45deg, #098ee0 0%, #6be0b5 100%);
  background: -o-linear-gradient(-45deg, #098ee0 0%, #6be0b5 100%);
  background: -ms-linear-gradient(-45deg, #098ee0 0%, #6be0b5 100%);
  background: linear-gradient(135deg, #098ee0 0%, #6be0b5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#098ee0', endColorstr='#6be0b5', GradientType=1 );
}

.character {
  min-height: 100vh;
  text-align: center;
  position: relative;
}
.character::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .2;
}
.character > div {
  position: relative;
  background: rgba(255, 255, 255, 0.9);
  min-height: 100vh;
  padding: 10% 0;
  z-index: 1;
}
.character h2 {
  line-height: 1.8;
}
.character .character__choice {
  max-width: 500px;
  margin: auto;
}
.character .character__choiceBox {
  padding-top: 50px;
}
.character .character__choiceCard {
  display: block;
  margin: auto;
  color: #f1f2f3;
  padding: 80px 50px 100px;
  border-radius: 5px;
  text-shadow: 0px 0px 5px #333;
  box-shadow: 0px 3px 15px #ccc;
}
.character .character__choiceCard:hover {
  opacity: .9;
}
.character .character__choiceCard p {
  font-size: .7em;
}

.container {
  position: relative;
}
