@import '../modules/mediaQueries';
a, a:hover {
  text-decoration: none;
}

input[type=text], input[type=number], textarea, input[type=tel], select {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 0 3px;
}

.maxWidth {
  position: relative;
  max-width: $media-lg;
  width: 100%;
  margin: auto;

  @include media($pc) {
    max-width: 768px;
  }

  @include media($tablet) {
    max-width: 576px;
  }

  @include media($mobile) {
    max-width: 300px;
  }
}