@import '../modules/color';
@import '../modules/mediaQueries';
@import '../modules/button';
@import '../modules/clearFix';

.headerNav {
  line-height: 2;
  max-width: $media-md;
  margin: 0 auto 30px;
  padding-top: 30px;
  border-bottom: 1px solid #eee;
  @include clearFix;

  h1 {
    float: left;
    margin-right: 50px;
    line-height: 1.8;
  }

  i {
    margin-right: 10px;
  }

  a, span {
    color: $primaryColor;

    &:hover{
      color: $deepBlue;
    }
  }

  ul, li {
    list-style: none;
    margin: 0;
    padding-left: 0;
    line-height: 1.5;
  }

  &__real {
    @include clearFix;
    display: flex;
    align-items: center;

    > li {
      float: left;
      padding: 10px 15px;
      min-width: 80px;
      cursor: pointer;
      padding-bottom: 15px;

      &:hover{
        > span {
          color: $secondaryColor;
        }
      }
    }
  }

  // login
  .nav__userState {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 100%;
    cursor: default;
  }

  // nav
  .nav__dropdown {
    position: relative;

    &:hover {
      .nav__dropdown__item {
        display: block;
      }

      > a, span {
        color: $secondaryColor;
      }
    }

    &__item {
      display: none;
      position: absolute;
      top: 100%;
      background: #f3f3f3;
      border-radius: 0 0 5px 5px;
      border: 1px solid $lightGray;
      padding: 10px;
      min-width: 200px;
      left: 5px;
      z-index: 10;
      
      span {
        color: $deepGray-2;
        line-height: 2;
        
        &:hover {
          color: $primaryColor;
        }
      }

      .primaryFunction {
        border-bottom: 1px solid $lightGray;
        padding: 0px 0 5px;
        margin-bottom: 5px;
        
        span {
          color: $callToActionColor;

          &:hover {
            color: darken($callToActionColor, 20);
          }
        }
      }

      .disabled {
        a {
          cursor: no-drop;
          color: $deepGray-3;

          &:hover {
            color: $deepGray-3;
          }
        }
      }
    }

    &::after {
      content: "\f107";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: $lightGray;
    }
  }

  .loginPage__login__func {
    > div {
      margin-top: 0;
      margin-right: 10px;
    }
  }
}