@import '../modules/clearFix';
@import '../modules/lightbox';

header {
  position: relative;
  z-index: 1;
}

.content {
  position: relative;
  max-width: $media-md;
  margin: auto;
}

.addButton {
  position: fixed;
  right: 6%;
  bottom: 7%;
  border: 0;
  width: 70px;
  height: 70px;
  background: $primaryColor;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2em;
  outline: 0;

  &:hover {
    background: $secondaryColor;
  }
}

.contentHeader {
  position: relative;
  color: $deepGray;

  h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  &__amountBox {
    position: absolute;
    right: 0;
    top: 0;
    letter-spacing: .1em;
  }

  &__amount {
    font-weight: 700;
  }
}

.contentBody {

  &__product {
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    line-height: 1.8;
    
    @include clearFix;

    &__photo {
      float: left;
      margin-right: 10px;
    }

    &__name {
      font-weight: 700;
      font-size: 1.2em;
      color: $deepGray;
    }

    &__spec {}
    &__cost {}
    &__price {
      font-weight: 700;
      color: $primaryColor;
    }

    span + span {
      margin-left: 10px;
    }
  }

  &__product + &__product {
    margin-top: 15px;
  }

}

.addProduct {

  &__photo {
    display: none;
  }

  &__photoFake {
    float: left;
    margin-right: 20px;
  }

  &__name {
    width: 360px;
  }

  &__spec {
    width: 100px;
  }

  &__amount {
    width: 75px;
  }

  &__cost {
    width: 75px;
  }

  &__price {
    width: 100px;
  }

  &__submit {
    padding: 15px 45px;
    border: 0;
    background: $primaryColor;
    color: #fff;
    border-radius: 30px;
    margin-top: 30px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1em;

    &:hover {
      background: $secondaryColor;
    }
  }
}

