@import '../modules/clearFix';
@import '../modules/lightbox';

header {
  position: relative;
  z-index: 1;
}

.content {
  position: relative;
  max-width: $media-md;
  margin: auto;
}

.addButton {
  position: fixed;
  right: 6%;
  bottom: 7%;
  border: 0;
  width: 70px;
  height: 70px;
  background: $primaryColor;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2em;
  outline: 0;
  z-index: 10;

  &:hover {
    background: $secondaryColor;
  }
}

.contentHeader {
  position: relative;
  color: $deepGray;

  h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  &__amountBox {
    position: absolute;
    right: 0;
    top: 0;
    letter-spacing: .1em;
  }

  &__amount {
    font-weight: 700;
  }
}

.contentBody {
  margin-bottom: 50px;

  &__product {
    padding: 10px;
    border: 1px solid $lightGray-2;
    border-radius: 5px;
    line-height: 1.8;
    position: relative;
    
    @include clearFix;

    &__photo {
      float: left;
      margin-right: 10px;
      max-width: 150px;
    }

    &__name {
      font-weight: 700;
      font-size: 1.2em;
      color: $deepGray;
    }

    &__spec {
      background: $lightGray-2;
      border-left: 5px solid $lightGray;
      display: inline-block;
      width: calc(100% - 160px);
      padding: 10px;
      margin-top: 10px;
      border-radius: 0 3px 3px 0;

        &__title {
          font-size: .9em;
          color: $deepGray-2;
        }
    }

    &__cost {}
    &__price {
      font-weight: 700;
      color: $primaryColor;
      position: absolute;
      right: 20px;
      top: 10px;
      font-size: 1.5em;
    }

    span + span {
      margin-left: 10px;
    }
  }

  &__product + &__product {
    margin-top: 15px;
  }

}

.addProduct {

  &__photo {
    display: none;
  }

  &__photoFake {
    float: left;
    margin-right: 20px;
  }

  &__photoPreview {
    max-width: 150px;
  }

  &__name {
    width: 360px;
  }

  &__spec {
    width: 480px;
  }

  &__amount {
    width: 75px;
  }

  &__cost {
    width: 75px;
  }

  &__price {
    width: 100px;
  }

  &__submit {
    padding: 15px 45px;
    border: 0;
    background: $primaryColor;
    color: #fff;
    border-radius: 30px;
    margin-top: 30px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1em;

    &:hover {
      background: $secondaryColor;
    }
  }
}

