@import '../modules/mediaQueries';
@import '../modules/clearFix';
@import '../modules/lightbox';

header {
  position: relative;
  z-index: 1;
}

.content {
  position: relative;
  max-width: $media-md;
  margin: auto;
}

.addButton {
  position: fixed;
  right: 6%;
  bottom: 7%;
  border: 0;
  width: 70px;
  height: 70px;
  background: $primaryColor;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2em;
  outline: 0;
  z-index: 10;

  &:hover {
    background: $secondaryColor;
  }
}

.contentHeader {
  position: relative;
  color: $deepGray;

  h2 {
    font-size: 1.2em;
    line-height: 2em;
    margin-bottom: 20px;
  }

  &__amountBox {
    position: absolute;
    right: 0;
    top: 0;
    letter-spacing: .1em;
    line-height: 2.25em;
  }

  &__amount {
    font-weight: 700;
  }

  &__description {
    background: $lightGray-2;
    font-size: .9em;
    padding: 10px;
    margin-top: 15px;

    > div {
      font-size: .8em;
      color: $deepGray-2;
      font-weight: 400;
      line-height: 1.8;
    }
  }

  .disabled {
    background: $lightGray-2;
    color: $deepGray-3;
    cursor: no-drop;
  
    &:hover {
      background: $lightGray-2;
    }
  }
}

.contentBody {
  margin-bottom: 50px;

  h4 {
    color: $deepGray;
    border-left: 5px solid $yellow;
    padding-left: 15px;
  }

  &__object {
    padding: 10px;
    border: 1px solid $lightGray-2;
    border-radius: 5px;
    line-height: 1.8;
    position: relative;
    margin-bottom: 30px;
    
    @include clearFix;

    &__photo {
      float: left;
      margin-right: 10px;
      width: 150px;
    }

    &__name {
      font-weight: 700;
      font-size: 1.2em;
      color: $deepGray;
    }

    &__spec {
      background: $lightGray-2;
      border-left: 5px solid $lightGray;
      display: inline-block;
      width: calc(100% - 160px);
      padding: 10px 10px 20px;
      margin: 10px 0;
      border-radius: 0 3px 3px 0;
      word-break: break-word;

        &__title {
          font-size: .9em;
          color: $deepGray-2;
          margin-top: 10px;
        }
        &__contact {
          width: 100%;
        }
    }


    &__price {
      font-weight: 700;
      color: $primaryColor;
      position: absolute;
      right: 20px;
      top: 10px;
      font-size: 1.5em;
    }

    &__update {
      @include functionButton(small);
      @include buttonLogout;
    }

    &__delete {
      @include functionButton(small);
      background: $callToActionColor;
      color: $white;

      &:hover {
        background: darken($callToActionColor, 20);
      }
    }

    &__push {
      @include functionButton(small);
      background: $primaryColor;
      color: $white;
    }

    &__function {
      text-align: right;
      &Absolute {
        position: absolute;
        display: block;
        right: 10px;
        top: 10px;
      }
    }

    span + span {
      margin-left: 5px;
    }
  }

  &__product + &__product {
    margin-top: 15px;
  }

}

.addForm {

  &__photo {
    display: none;
  }

  &__photoFake {
    display: flex;
    cursor: pointer;
    position: relative;
    flex-flow: row nowrap;
    align-items: center;
    width: 150px;
    height: 150px;

    span {
      font-size: .8rem;
      position: absolute;
      background: rgba(255,255,255,.8);
      top: 3px;
      left: 5px;
      border-radius: 1px;
      padding: 1px 3px;
      border: 1px solid #ddd;
    }
  }

  &__photoPreview {
    width: 100%;
    height: 150px;
    object-fit: fill;
  }

  &__name {
    width: calc(100% - 90px);
  }

  &__realName {
    width: 300px;
  }

  &__phone {
    width: 300px;
  }

  &__spec {
    width: calc(100% - 90px);
  }

  &__amount {
    width: 70px;
  }

  &__cost {
    width: 70px;
  }

  &__price {
    width: 90px;
  }

  &__submit {
    padding: 15px 45px;
    border: 0;
    background: $primaryColor;
    color: #fff;
    border-radius: 30px;
    margin-top: 30px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1em;
    margin-right: 25px;

    &:hover {
      background: $secondaryColor;
    }
  }
}

.streamUrl, .streamID {
  &__input, &__description {
    display: block;
    // margin-left: 25px;
    width: calc(100% - 50px);
    margin-bottom: 10px;
  }

  &__description {
    max-width: calc(100% - 50px);
    max-height: 120px;
  }
}

.streamContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.stream {
  &__frame {
    width: 65%;
    border: 1px solid #999;
    max-height: calc(#{$media-lg} * 0.65 * 0.5625);
  }

  &__onAir {
    position: absolute;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;

    .stream__product{
      background: #e0e5e9;
      box-shadow: 0px 2px 10px rgba(0,0,0,.2);
    }
    .stream__product__spec {
      background: #fff;
      border-left-color: darken(#fff, 10);
    }
  }

  &__products {
    width: 34%;
    min-height: 400px;
    max-height: calc( #{$media-lg} * 0.65 * 0.5625);
    border: 1px solid $deepGray-3;
    background: $lightGray-2;
    overflow-y: auto;
    position: relative;
  }

  &__product {
    background: #fff;
    border-radius: 0;
    border: 0;

    &:first-child {
      margin-bottom: 2px;
    }

    .stream__status {
      position: absolute;
      right: 20px;
      color: #d20500;
      font-weight: 700;
      text-shadow: 1px 1px 0px #fff, 2px 2px 0px #fff, 3px 3px 10px #fff;
    }
  }

  &__product__photo {
    max-width: 60px;
  }

  &__product__function {
    position: absolute;
    right: 10px;
  }

  &__product__mainInfo {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    font-size: .9em;
  }

  &__product__name {
    width: 100%;
  }

  &__product__price {
    position: relative;
    top: auto;
    right: auto;
    font-size: initial;
  }

  &__product__spec {
    width: 100%;
  }

  &__product + &__product {
    margin-top: 2px;
  }
}

.buyForm {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  &Container {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
  }
  &__operator {
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    background: $blueGreen;
    color: #fff;
    cursor: pointer;
    font-size: 1.5em;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: darken($blueGreen, 5)
    }
  }

  &__total {
    font-size: 1.5em;
    font-weight: 700;
    color: $primaryColor;
    min-width: 45px;
    text-align: center;
  }

  &__submit {
    padding: 15px 45px;
    border: none;
    font-size: 1.2em;
    border-radius: 40px;
    background: $primaryColor;
    color: #fff;
    cursor: pointer;
    &:hover{
      background: darken($primaryColor, 10)
    }
    
    &Container {
      margin-top: 30px;
      flex-basis: 100%;
    }
  }
}

